.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
}

ul {
}

li.yf {
  margin-left: 13rem;
  margin-top: 2rem;
}

li.gf {
  margin-left: 2rem;
  margin-top: 2rem;
}

li > a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
}
