:host {
  display: block;
}

nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
}

span {
  color: #5cb85c;
  font-family: titillium web, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0;
  margin-right: 2rem;
}

span > a {
  color: #5cb85c;
}
ul {
  font-family: titillium web, sans-serif;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

li {
  color: rgba(0, 0, 0, 0.3);
}

a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
}
li > a:hover {
  color: rgba(0, 0, 0, 0.8);
}
